/* RESPONSIVE STICKY TOPICAL-USER-INTERFACE(NAV) */



#rsn {
    position: sticky;
    top:0;
    width: 100vw;
    height: 10vh;
    text-align: center;
    background-color: var(--clr-T2);
    border-bottom: none;
    border-radius: none;
}



#rsn>a {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-A3);
    font-family: var(--font-C);
    font-weight: 700;
    font-size: 24px;
    padding: 24px 8px 4px;
}

#rsn>h3{
    display: none;
    margin: 12px;
    font-size: 36px;
    font-weight: 700;
    font-family: var(--font-H);
    color: var(--clr-A3);
}

i#home {
    display: block;
    float: left;
    font-size: 40px;
    color: var(--clr-A3);
    margin-top: 16px;
    margin-left: 8px;
}

i#bars {
    display: none;
    float: right;
    font-size: 40px;
    color: var(--clr-A3);
    margin-top: 16px;
    margin-right: 10px;
}

div#drop-menu {
    display: block;
    width: 100vw;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 70px;
    background-color: var(--clr-T2);
    z-index: 200;
}

div#drop-menu>a {
    display: block;
    width: 45%;
    margin: 2px 25%;
    border: 3px outset var(--clr-R3);
    background-color: #333;
    color: var(--clr-R2);
    font-family: var(--font-C);
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    padding: 8px;
}


 .hidden {
    display: none !important;
} 


/* MOBILE RESPONSE  @ 600px or Less*/

@media only screen and (max-width: 600px) {
    #rsn>a {
        display: none;
    }

    i#bars {
        display: block;
    }

    #rsn>h3{
        display: inline-block;
    }

    div#drop-menu {
        display: block;
    }
}